{% extends "bootstrap/base.html" %}
{% block head %}
<title>Новая накладная</title>
{{ super() }}
{% endblock %}
{% block content %}

{% import 'basket_utils.html' as utils %}

<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: space-between;">
        <h1>Новая накладная</h1>
        <h1><small>{{ user_type }}</small></h1>
    </div>
    <div class="list-group">
        <a href="/" class="list-group-item">Главное меню</a>
    </div>
    <div style="display: flex; justify-content: space-between;">
        {{ utils.render_item(header='Список товаров',
                            data=items,
                            count='stock',
                            customers=None,
                            customer_id=customer_id,
                            show_form=True,
                            buttons=False) }}
        {{ utils.render_item(header='',
                            data=basket,
                            count='basket',
                            customers=customers,
                            customer_id=customer_id,
                            show_form=False,
                            buttons=True) }}
    </div>
</div>
{% endblock %}