<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
</head>
<body>
    <div class="content__wrapper">
        <header>
            <h1>Cart page</h1>
        </header>
        <div class="content">
            <ul class="query-list">
                <li class="queries__item">
                    <a href="/">Назад</a>
                </li>
                <li class="queries__item">
                    <a href="/">Главное меню</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>