{% extends "bootstrap/base.html" %}
{% block head %}
<title>Запросы</title>
{{ super() }}
{% endblock %}
{% block content %}
<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: space-between;">
        <h1>Меню запросов</h1>
        <h1><small>{{ user_type }}</small></h1>
    </div>
    <div class="list-group">
        <a href="{{ url_for('user_app.query_1') }}" class="list-group-item">Получить список покупателей из указанного
            города</a>
        <a href="{{ url_for('user_app.query_2') }}" class="list-group-item">Получить список деталей, больше указанного
            веса</a>
        <a href="/" class="list-group-item">Главное меню</a>
    </div>
</div>
{% endblock %}