{% extends "bootstrap/base.html" %}
{% block head %}
<title>Получить список покупателей из указанного города</title>
{{ super() }}
{% endblock %}
{% block content %}
<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: space-between;">
        <h1>Получить список покупателей из указанного города</h1>
    </div>
    <div class="list-group">
        <a href="{{ url_for('user_app.user_index') }}" class="list-group-item">Назад</a>
        <a href="/" class="list-group-item">Главное меню</a>
    </div>
    <form action="{{ url_for('user_app.query_1_result') }}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Укажите город</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Город" name="data">
        </div>
        <button type="submit" class="btn btn-primary">Получить данные</button>
    </form>
</div>
{% endblock %}