{% extends "bootstrap/base.html" %}
{% block head %}
<title>Добавить товар</title>
{{ super() }}
{% endblock %}
{% block content %}
<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: space-between;">
        <h1>Меню добавления товара</h1>
    </div>
    <div class="list-group">
        <a href="{{ url_for('user_edit.edit_index') }}" class="list-group-item">Назад</a>
        <a href="/" class="list-group-item">Главное меню</a>
    </div>
    <form action="" method="post">
        <div class="form-group" style="margin-top: 15px; margin-bottom: 0;">
            <label for="detailName">Название товара</label>
            <input type="text" class="form-control" id="detailName" placeholder="Название" name="item_name" required>
        </div>
        {% if not is_valid[0] %}
        <div class="invalid-feedback" style="color: red;">
            Введите корректные данные
        </div>
        {% endif %}
        <div class="form-group" style="margin-top: 15px; margin-bottom: 0;">
            <label for="detailMaterial">Материал товара</label>
            <input type="text" class="form-control" id="detailMaterial" placeholder="Материал" name="item_material"
                   required>
        </div>
        {% if not is_valid[1] %}
        <div class="invalid-feedback" style="color: red;">
            Введите корректные данные
        </div>
        {% endif %}
        <div class="form-group" style="margin-top: 15px; margin-bottom: 0;">
            <label for="detailWeight">Вес товара (г)</label>
            <input type="text" class="form-control" id="detailWeight" placeholder="Вес" name="item_weight" required>
        </div>
        {% if not is_valid[2] %}
        <div class="invalid-feedback" style="color: red;">
            Введите корректные данные
        </div>
        {% endif %}
        <div class="form-group" style="margin-top: 15px; margin-bottom: 0;">
            <label for="detailPrice">Цена товара</label>
            <input type="text" class="form-control" id="detailPrice" placeholder="Цена" name="item_price" required>
        </div>
        {% if not is_valid[3] %}
        <div class="invalid-feedback" style="color: red;">
            Введите корректные данные
        </div>
        {% endif %}
        <div class="form-group" style="margin-top: 15px; margin-bottom: 0;">
            <label for="detailCount">Количество товара</label>
            <input type="text" class="form-control" id="detailCount" placeholder="Количество" name="item_count"
                   required>
        </div>
        {% if not is_valid[4] %}
        <div class="invalid-feedback" style="color: red;">
            Введите корректные данные
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary" name="insert" style="margin-top: 15px;">Добавить</button>
    </form>
    <div style="margin-top: 10px;">
        {% if show_res %}
        {% if valid_status %}
        <div class="alert alert-success" role="alert">Товар успешно добавлен</div>
        {% else %}
        <div class="alert alert-danger" role="alert">Введены некорректные данные</div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}