{% extends "bootstrap/base.html" %}
{% block content %}
<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: space-between;">
        <h1>Главное меню</h1>
        <h1><small>{{ user_type }}</small></h1>
    </div>
    <div class="list-group">
        <a href="{{ url_for('user_app.user_index') }}" class="list-group-item">Работа с запросами</a>
        <a href="{{ url_for('user_cart.cart_page') }}" class="list-group-item">Коризна</a>
        <a href="{{ url_for('auth_app.login_page') }}" class="list-group-item">Авторизация</a>
        <a href="{{ url_for('index_exit') }}" class="list-group-item">Выход</a>
    </div>
</div>
{% endblock %}