{% extends "bootstrap/base.html" %}
{% block head %}
<title>Отказано в доступе</title>
{{ super() }}
{% endblock %}
{% block content %}
<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: space-between;">
        <h1>Отказано в доступе</h1>
    </div>
    <div class="list-group">
        <a href="/" class="list-group-item">Главное меню</a>
        <a href="{{ url_for('auth_app.login_page') }}" class="list-group-item">Авторизация</a>
    </div>
</div>
{% endblock %}