{% extends "bootstrap/base.html" %}
{% block head %}
<title>Накладные клиента</title>
{{ super() }}
{% endblock %}
{% block content %}

<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: center;">
        <h1>Накладные клиента (ID: {{ id }})</h1>
    </div>
    <div class="list-group">
        <a href="{{ url_for('user_waybill.waybill_index') }}" class="list-group-item">Назад</a>
        <a href="/" class="list-group-item">Главное меню</a>
    </div>
    {% if not result|length %}
    <div class="alert alert-warning" role="alert">Нет результатов</div>
    {% else %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            {% for col_title in col_titles %}
            <th scope="col">{{ col_title }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in result %}
        <tr>
            {% for val in item.values() %}
            <td>
                {% if val is none %}
                <span>-</span>
                {% else %}
                {{ val }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}