{% extends "bootstrap/base.html" %}
{% block head %}
<title>Накладные клиента</title>
{{ super() }}
{% endblock %}
{% block content %}

<div class="wrapper" style="max-width: 700px; margin: 0 auto;">
    <div class="page-header" style="display: flex; justify-content: center;">
        <h1>Накладные клиента ID: {{ id }}</h1>
    </div>
    <div class="list-group">
        <a href="{{ url_for('user_waybill.waybill_index') }}" class="list-group-item">Назад</a>
        <a href="/" class="list-group-item">Главное меню</a>
    </div>
    {% if not result|length %}
    <div class="alert alert-warning" role="alert">Нет результатов</div>
    {% else %}
    <div class="btn-group-vertical" role="group" style="width: 100%;">
        <table class="table table-hover" style="margin-bottom: -1px;">
            <thead class="thead-dark">
            <tr>
                {% for col_title in col_titles %}
                <th scope="col" style="width: 90px;">{{ col_title }}</th>
                {% endfor %}
            </tr>
            </thead>
        </table>
        {% for idx in range(result|length) %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="margin: 0; padding: 0;">
                <table class="table" style="margin-bottom: 0;">
                    <tbody>
                    <tr>
                        {% for val in result[idx].values() %}
                        <td class="text-center" style="width: 100px;">
                            {% if val is none %}
                            <span>-</span>
                            {% else %}
                            {{ val }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </button>
            <ul class="dropdown-menu" style="position: static; float: none; margin-top: 0; padding-top: 0;">
                <table class="table table-hover" style="margin-bottom: -1px;">
                    <thead class="thead-dark">
                    <tr>
                        {% for col_title in sub_col_titles %}
                        <th scope="col" style="width: 100px;" class="text-center">{{ col_title }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                </table>
                {% for info_el in full_info_result[idx] %}
                <li>
                    <table class="table" style="margin-bottom: 0;">
                        <tbody>
                        <tr>
                            {% for val in info_el.values() %}
                            <td class="text-center" style="width: 100px;">
                                {% if val is none %}
                                <span>-</span>
                                {% else %}
                                {{ val }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}